body {
  font-family: "Barlow", sans-serif;
  background: linear-gradient(#c9dfec, #ffffff);
}
h1 {
  color: #7a1e68;
  font-weight: 900;
}
h3 {
  color: #8d8e90;
}
ul {
  margin-top: 20px;
  padding: 0;
}
li {
  list-style: none;
}
.todays-conditions {
  margin: 0 0 10px;
  padding: 0;
  color: #6f93f0;
}
.temperature {
  color: #6f93f0;
  font-size: 74px;
  font-weight: 400;
  line-height: 1;
}
.units {
  vertical-align: top;
}
.weather-today {
  color: #6f93f0;
  border: 1px solid #8d8e90;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-temperature-min {
  font-size: 14px;
  opacity: 0.6;
}
#description {
  text-transform: capitalize;
}
.favorites {
  margin-top: 20px;
}
